<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShevaHomeCare</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />

        <link rel="stylesheet" href="~/css/site.css" />

        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link href="~/lib/syncfusion-javascript/Content/ej/web/default-theme/ej.web.all.min.css" rel="stylesheet" />
        <link href="~/lib/syncfusion-javascript/Content/ej/web/responsive-css/ej.responsive.css" rel="stylesheet" />


        <script src="https://cdn.sinch.com/latest/sinch.min.js" asp-fallback-src="~/js/sinch.min.js"></script>
        
        
        
        <script src="https://static.robotwebtools.org/threejs/current/three.js"></script>
        <script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>

        <script src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js" asp-fallback-src="~/js/roslib.min.js"></script>
        <script src="https://static.robotwebtools.org/ros3djs/current/ros3d.min.js" asp-fallback-src="~/js/ros3d.min.js"></script>

        <script src="https://static.robotwebtools.org/mjpegcanvasjs/current/mjpegcanvas.js"></script>
        <script src="https://static.robotwebtools.org/keyboardteleopjs/current/keyboardteleop.js"></script>


        @*<script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/jsrender/jsrender.min.js"></script>

        <script src="~/lib/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>*@



    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-test-class="transition" asp-fallback-test-property="animation-iteration-count" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />


        <link href="~/lib/syncfusion-javascript/Content/ej/web/default-theme/ej.web.all.min.css" rel="stylesheet" />
        <link href="~/lib/syncfusion-javascript/Content/ej/web/responsive-css/ej.responsive.css" rel="stylesheet" />


        <script src="https://cdn.sinch.com/latest/sinch.min.js" asp-fallback-src="~/js/sinch.min.js"></script>
    </environment>
</head>
<body class="ui inverted body">
    <div class="ui violet inverted menu">
        <div class="item">
            <a asp-area="" asp-controller="Home" asp-action="Index" class=" active item">Sheva Home Care</a>
        </div>
        @await Html.PartialAsync("_LoginPartial")
    </div>

    <div class="ui main text">
        @RenderBody()

    </div>
    <div class="ui inverted menu">

    </div>

    <div class="">
        @*  @RenderBody()*@
        <hr />
        <footer class="ui inverted menu">
            <p class="item">&copy; 2018 - ShevaHomeCare</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/lib/jsrender/jsrender.min.js"></script>
        <script src="~/lib/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"
                asp-fallback-src="~/lib/semantic/dist/js/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdn.syncfusion.com/js/assets/external/jsrender.min.js"  asp-fallback-src="~/lib/syncfusion-javascript/Scripts/jsrender.min.js" ></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        
        <script src="~/lib/jsrender/jsrender.min.js"></script>
        <script src="~/lib/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
<ej-script-manager></ej-script-manager>