@{
    ViewData["Title"] = "Home Page";
}

<div class="ui violet piled segment">
    <h4 class="ui header">A header</h4>
    <p>Welcome to Sheva Home Care please Sign Up or Login to connect to your at home robot.</p>
    <p>With Sheva, you can do several things like:</p>
    <ul>
        <li>Access your custom meal plans.</li>
        <li>Access your drug plan.</li>
        <li>Engage in mental exercises and physical exercises</li>
        <li>Talk and Chat with your remote Care Giver</li>
    </ul>
    <p>Just to name a few</p>
    <p>The LOGIN BUTTON is at the Top Left</p>
</div>

